.rectangle {
    background: #fff;
    border: 1px solid #999;
    float: left;
    align-items: center;
    justify-items: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    margin-left: 10px;
    padding: 0px;
    text-align: center;
    width: 94px;
  }

  .operator {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .answer {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    width: 94px;
  }

  button {
    float: left;
  }

  p {
    float: left;
    color: red;
  }

  .errmsg {
    color: red;
    float: left;
  }